<h2 class="event-title m-3">Popular Books</h2>
        <hr />
<div class="row">
    <div class="col-sm-4">
        <div class="card m-3" style="width: 25rem;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="/images/davincicode.jpeg" alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">The Da Vinci Code</h5>
                        <p class="card-text">This is card text.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card m-3" style="width: 25rem;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="/images/davincicode.jpeg" alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">The Da Vinci Code</h5>
                        <p class="card-text">This is card text.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card m-3" style="width: 25rem;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="/images/davincicode.jpeg" alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">The Da Vinci Code</h5>
                        <p class="card-text">This is card text.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
