{{#each events as |event| }}
<div class="card m-3" style="max-width: 900px">
  <div class="row g-0">
    <div class="col-md-4">
      <div class="date-card">
        <div>
          <div class="date">{{format_date date}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-8">

      <div class="col-md-8 m-4">
        
        <div class="card-body" id="event-body">
          <h5 class="card-title" id="event-title">{{title}}</h5>
          <p class="card-text" id="event-time">{{time}}</p>
          <p class="card-text" id="event-description">{{description}}</p>
        </div>
        
      </div>
    </div>
  </div>
</div>
  {{/each}}
