{{#each events as |event| }}
<div class="card m-3" style="max-width: 900px">
  <div class="row g-0">
    <div class="col-md-4">
      <div class="date-card">
        <div>
          <div class="date">{{format_date created_at}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" id="event-title">{{title}}</h5>
        <p class="card-text" id="event-text">{{description}}</p>
      </div>
    </div>
  </div>
</div>
{{/each}}