
<div class="row justify-space-between-md card mt-4">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form text-center">
      <div class="form-group w-25">
        <label for="user-login text-center">Username:</label>
        <input class="form-input" type="text" id="user-login" />
      </div>
      <div class="form-group w-25 mt-2 text-center">
        <label for="password-login">Password:</label>
        <input class="form-input text-center" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-dark mt-2 w-100" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login-card">

<script src="/js/login.js"></script>