  <form class="form-inline login-form  w-100 m-2">
      <div class="row">
        <div class="col">
          <input class="form-control" type="text" id="user-login" placeholder="Username" />
        </div>
        <div class="col">
          <input class="form-control" type="password" id="password-login" placeholder="Password" />
        </div>
        <div class="col-auto">
          <button class="btn btn-light" type="submit" id="login-btn">login</button>
        </div>
      </div>
    </form>
  
  <script src="/javascript/login.js"></script>