<div class="d-flex flex-column align-items-center ">
{{#each books as |book| }}
<div class="row mb-4 w-75">
    <div class="row mb-4 w-100">
        <h2>
        {{book.title}}
        </h2>
    </div>
  <div class="col-md-5">
 
    <p>
        Author: {{book.author}}
    </p>
    {{#if book.reader_id}}
    Currently not available.
    {{else}}
    Available to borrow.
    {{/if}}
  </div>
  <div class="col-md-7">
    <p>
      {{book.subject}}
    </p>
  </div>
</div>
{{/each}}
</div>