<div class="container" id="resultsContainer">
    <div class="results m-4">
      <h1>Search Results</h1>
    </div>
    <div class="overflow-auto m-4 d-flex flex-column align-items-center" style="max-height: 700px;">
    {{#each books as |book| }}
      <div class="card row m-4 w-75">
          <div class="row mb-4">
              <h2>
              {{book.title}}
              </h2>
          </div>
          <h4>
            Author: {{book.author}}
        </h4>
        <h6>
          Subject: {{book.subject}}
        </h6>
        <div>
        {{#if book.reader_id}}
        <p class="unavailable">Currently not available.</p>
        {{else}}
        <p class="available">Available to borrow.</p>
        {{/if}}
      </div>
    </div>
    {{/each}}
    </div>
</div>