
<div class="container.fluid d-flex justify-content-between">
<div class="row">
  
  <div class="">
    <h2 class="event-title bg-secondary m-3 p-0 text-white text-center"><span class="align-middle">Events</span></h2>{{>events}}</div>
</div>
<div class="row">
  <div class="">{{>login}}</div>
</div> 
</div>


</div class="container">
  <div class="row">
    <div class="">{{>books}}</div>
  </div> 
</div>

