<div class="container.fluid d-flex flex-column align-items-center" id="events-container">
  <h2 class="row m-3">Events</h2>
  <div class="">{{>events}}</div>
</div>

</div class="container.fluid d-flex flex-column align-items-center" id="books-container">
  <div class="row">
    <div class="">{{>books}}</div>
  </div>
</div>