
<div class="container.fluid d-flex justify-content-between">
<div class="row">
  <div class="">{{>events}}</div>
</div>
<div class="row">
  <div class="">{{>login}}</div>
</div> 
</div>

</div class="container">
  <div class="row">
    <div class="">{{>books}}</div>
  </div> 
</div>
