
<div class="container.fluid d-flex justify-content-between">
  <div class="row">
    <div class="">{{>events}}</div>
  </div>
  {{#unless logged_in}}
  <div class="row">
    <div class="">{{>login}}</div>
  </div> 
  {{/unless}}
</div>


</div class="container">
  <div class="row">
    <div class="">{{>books}}</div>
  </div> 
</div>

