<div class="container mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-12"><h1>Librarian Tools</h1></div>
    </div>
</div>
<div class="container p-0">
  <section class="cms-boxes">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 cms-boxes-outer">
           <a class="custom-btn" href="/librarian/bookmanager">
            <div class="cms-boxes-items cms-features">
              <div class="boxes-align">
                <div class="small-box">
                  <i class="fa-solid fa-4x fa-book"></i>
                  <h2>Book<br> Management</h2>
                  <p>Check In, Check Out, Update Inventory</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 cms-boxes-outer">
          <a class="custom-btn" href="/librarian/events">
            <div class="cms-boxes-items cms-security">
              <div class="boxes-align">
                <div class="small-box">
                  <i class="fa-solid fa-4x fa-calendar-days"></i>
                  <h2>Library<br> Events</h2>
                  <p>Add, Update, Delete Events</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 cms-boxes-outer">
          <div class="cms-boxes-items cms-scalability">
            <div class="boxes-align">
              <div class="small-box">
                <i class="fa-solid fa-4x fa-address-card"></i>
                <h2>Library<br> Members</h2>
                <p>Add, Update, Delete Members</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container.fluid mb-4">

{{#if bookmanager}}
{{> modifybook}}
{{/if}}

{{#if librarycard}}
{{> librarycard}}
{{/if}}

{{!-- {{#if books}}
{{> modifybook}}
{{/if}} --}}

{{#if modifyevent}}
{{> modifyevent}}
{{/if}}

</div>



