
<div class="d-flex flex-row">


{{!-- {{#if logged_in}}
<div class="flex-column mb-4 w-75" id="small-box">
{{> results}}
</div>
<div class="col mb-4">

</div>
{{else}}
{{> results}}
{{/if}} --}}

{{> results}}


</div>











