<div class="container" id="resultsContainer">
    <div class="d-flex flex-row">
    {{#if logged_in}}
    <div class="flex-column mb-4" id="small-box">
    {{> results}}
    </div>
    {{else}}
    {{> results}}
    {{/if}}
    </div>
</div>











