<div class="container" id="resultsContainer">
    <div>
        {{#if logged_in}}
        <div class="flex-column mb-4" id="small-box">
        {{> results}}
        </div>
        {{else}}
        {{> results}}
        {{/if}}
    </div>
</div>











