.nav {
    background-color:rgb(35, 31, 51)
}
.nav .nav-item .nav-link {
    color: white;
    margin-top: 4px;
    font-size: 15px;
}

.nav .nav-item .nav-link:hover {
    color: #e7ad9c;
    transition: 0.3s;
}

.nav .nav-item .nav-link:focus {
    color: #e7ad9c;
    font-weight: bolder;
}

#nav-logo {
    height: 75px;
}

.jumbotron {
    background-image: url("../images/bookshelf.jpeg");
    background-repeat: no-repeat;
    background-position: 75% 25%;
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#login-btn{
  background-color: rgb(122, 119, 119);
  border-color: rgb(122, 119, 119);
  width: 80px;
}

.event-title{
    padding-top: 15px;
}

.date {
    font-size: 21px;
    text-align: center;
    margin: 9px;
}

#events-container {
    background-color:rgb(212, 169, 127)
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    text-align:center;
}
form input{
    text-align: center;
}

.footer {
    background-color: rgb(12, 14, 28); 
}

/* special image styling for user dashboard bookcards */

.bookcard-image {
    max-height: 200px;
    width: 100%;
    height: 100%;    
    object-fit: cover;
  }